#cabecalho {
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: flex-start;
    padding-left: 25vh;
    transition: 0.5s;
}

.header:hover {
    margin-top: 2vh;

}

ul {
    display: flex;
}

li {
    margin: 2vh;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.5s;

}

li:hover {
    font-size: 60px;
}

.footerimg {
    height: 12vh;
    width: auto;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(assets/bg.jpg);
}

.direitosautorais {
    color: white;
    margin-top: 2vh;
}